<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fundamentals</title>
</head>
<body>
    <h1>Estimator</h1>

    <form action="/estimator_page" method="post">
        <label>Ticker</label>
        <input type="text" placeholder="AAPL" name="user_ticker"><br><br>
        <label>Expected Returns%</label>
        <input type="text" placeholder="10" name="user_expected_return"><br><br>
        <label>Exit PE Ratio</label>
        <input type="text" placeholder="15" name="user_exit_pe">
        <label>Stock Prine</label>
        <input type="text" placeholder="100" name="user_stock_price">
        <label>Dividend Yield%</label>
        <input type="text" placeholder="0" name="user_dividend_yield">
        <button type="submit">Ok</button>
    </form>
</body>
    <footer>
        <p>Copyright {{ year }}, Built by Ajoy Nambiar</p>
    </footer>
</html>

